rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;

      // Allow users to read, write, and list their own chats subcollection
      match /chats/{chatId} {
        allow read, write, list: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
